body {
  margin: 0;
  padding: 0;
}

.app-container {
  margin-top: 64px; /* Match height of header */
}

a {
  text-decoration: none;
}

.btn {
  background: unset;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto';
  cursor: pointer;
  opacity: 0.8;
}